
html{
	scroll-behavior:smooth;
}
*{
	box-sizing:border-box;
}
fieldset{
	border:1px solid blue;
}
legend{
	color:blue;
}
input[type=submit]{
	color:white;
	padding:5px;
	border-radius:4px;
	background-color:blue;
	font-weight:bold;
}
input[type=submit]:hover{
	opacity:0.5;
}
.modal_login1 a:link{
	color:red;
}

@media only screen and (max-width:600px){


body{
	font-family:Arial,helvetica,verdana,sans-serif;
	margin:0px;
	text-align:center;
	background:white;
}
h1{
	font-size:1.5em;
}
.danger{
	color:red;
}
h3{
	font-size:1.1em;
	color:black;
}
h4{
	font-size:14px;
	color:black;
}
p{
	color:black;
	font-size:16px;
}
span{
	font-style:italic;
	font-size:14px;
}
strong{
	font-size:13px;
}
blockquote{
	color:maroon;
	font-style:italic;
	font-size:12px;
}
a:hover{
	color:black;
	
}
a:link{
	color:maroon;
	
}
a:visited{
	color:#0033ff;
}
a:active{
	color:maroon;
	
}
ul li{
	font-size:12px;
	opacity:0.9;
}
#all-content{
	
	position:relative;
	margin:0;
	height:auto;
}
.all-content{
	
	position:relative;
	margin:0;
	height:auto;
	opacity:0.5;
	left:40%;
	width:150%;
	animation:allcontent 1s;
	-webkit-animation:allcontent 1s;
}
@keyframes allcontent{
	from{
		left:0;
	}
	to{
		left:40%;
	}
}

@-webkit-keyframes allcontent{
	from{
		left:0;
	}
	to{
		left:40%;
	}
}


.task_bar{
	background-color:#cccccc;
	margin:0;
	width:100%;
	padding:8px;
	position:fixed;
	top:-0.1em;
	text-align:center;
	z-index:1;
	height:3em;
	background-image:linear-gradient(to bottom right,hsl(239, 97%, 46%) ,red)
}

.coding img{
	height:auto;
	position: absolute;
	top:-6em;
	right:0em;
	opacity: 0.9;
	z-index: 0.5;
}

.name{
	width:100%;
	height:10em;
	position: absolute;
	top:8px;
	z-index: 1;
}

/*Starter package*/
.packages{
	width:110%;
	flex-direction:row;
 }
 .package{
	 width:70% ;
	 padding:3px;
	margin-left:0%;
	}
	#outofview p,#outofview div,#outofview li,#outofview a,
	#outofview2 p,#outofview2 div,#outofview2 li,#outofview3 a,#outofview3 p,
	#outofview3 div,#outofview3 li,#outofview3 a,#outofview4 p,#outofview4 div,#outofview4 li,#outofview4 a,
	#outofview5 p,#outofview5 div,#outofview5 li,#outofview5 a,#outofview6 p,#outofview6 div,#outofview6 li,#outofview6 a{
font-size:4px;
	}
	#outofview,#outofview4{
		margin:0px 20px 0px 0px;
		 width: 15%;
		 opacity:0.5;
		 animation:change_slide1 0.5s linear;
		transform:skewY(-20deg);
	}

	
	#outofview5{
		margin:auto;
		 width: 15%;
		 opacity:0.5;
		 animation:change_slide1 0.5s linear;
		transform:skewY(-20deg);
	}
	#outofview2,#outofview3,#outofview6{
		 opacity:0.5;
		margin:0px 0px 0px 20px;
		 width: 15%;
		 animation:change_slide 0.5s linear;
		transform:skewY(20deg);
	}
	
#outofview6{
		opacity:0.5;
	   margin:auto;
		width: 15%;
		animation:change_slide 0.5s linear;
	   transform:skewY(20deg);
   }
	@keyframes change_slide {
		from{
			width:70% ;
			padding:3px;
		   margin-left:0%;
		}
		to{
			opacity:0.5;
			margin:auto;
			 width: 15%;
			transform:skewY(20deg);
		}
	}
	
	@keyframes change_slide1 {
		from{
			width:70% ;
			padding:3px;
		   margin-left:0%;
		}
		to{
			opacity:0.5;
			margin:auto;
			width: 15%;
			opacity:0.5;
		   transform:skewY(-20deg);
	  
		}
	}

 /*End*/


.project_card p{
	color: white;
}

.Projects{
	border: #cccccc solid 0.5px;
	display:flex;
	flex-wrap: wrap;
	padding: 4px 4px 8px 4px;
	margin:5px 0px 5px 0px;
}

.Projects  .project_img{
	width: 60%;
	margin:10px;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	height: 8em;
	
	border-radius: 8px;
 }

.project_card>.notes_top{ 
	background-color:white;
	color: #e44800;
	padding: auto;
	font-size: 15px;
	position:absolute;
	top: 13px;
	transform:rotate(-50deg);
	left: -15px;
	z-index: 0.99;
	width:6.2em;
	}

.project_card .notes{ 
	background-color:white;
	color: #e44800;
	padding: 2px;
	font-size: 12px;
	font-family: hand_font;
	border-radius:3px;
	position:absolute;
	bottom:2px;
	left: 5px;
	z-index: 0.99;
	}

.project_card{
	width: 95%;
	margin: 1px auto 1px auto;
	padding: 5px 2px 2px 40px;
	text-align: center;
	color: white;
	border-radius: 10px;
	top:0px;
	position:relative;
}


#first_p{
	width:20%;

 }
 
 #second_p{
	width:20%;
 }
 
 
.p_img{
   width:100%;
   margin: auto;
}

.Projects div{

	padding-bottom: 0.5em;
	margin: auto;
}
.Projects div img:hover{

	opacity:0.5;
}

.Projects h4{
	font-size:16px;
}
.coding img{
	width:100%;
}

 
.joy_pic{
	opacity: 0.1;
	position: absolute;
	left:0%;
	top:15%;
	z-index:0.5;
	}

	.webdev .scroll{
		position: absolute;
		right: 8%;
		top: 40px;
		animation:scroll infinite 0.5s;
		-webkit-animation:scroll infinite 0.5s;
		
		}
			
.get_us{
    left: 24px;
    top: 0em;
	z-index: 100;
}
.get_us a{
 font-size: 14px;

}

/*developer login style*/
.dev_login{
    top:5.6em;
    right:4px;
    padding: 3px;
	z-index: 100;
	position:absolute;
    
}

#header1{
   background-image: linear-gradient(rgb(15, 15, 15),rgb(82, 78, 78));
   opacity:0.7;
}
#dev_login_phone{
	top:5px;
	position:fixed;
}
.dev_login>a{
    font-size: 16px;
}
/*End of developer login*/
.services_section h2{
	font-size: 15px;
}
		.services1{
			display:flex;
			flex-direction: column;
		}

		.services1>div{
			border-radius: 10px;
			border:1px dotted black;
				background-color: white;
				width:98%;
				margin:auto;
				margin-top: 5px;
				padding: 2px;
			}
		
.scroll img{
	width:2em;
	
}
.loading{
		
	width:25%;
	left:35%;
	
}

.loading .loader{
   
    font-size:17px;
}

.contact_details{
	width:100%;
	margin: 0;
	position:relative;
	top:6em;
	background-color: white;
	background-image: linear-gradient(white,white);
	
}
	
.newsletter{
	width:80%;
	right:10%;
}

footer{
   
    height:26em;
    top:12em;
}

.footer_body>div{
    width:22%;
	font-size:10px;
}

.footer_body p{
	font-size:10px;
}

.card_shadow{
    width:4em;
    left:5%;
    transform:rotate(26deg);
}

.first_services, .first_services p,.small_text{
    color:black;
	font-size:14px;
}
.first_services{
	width:100%;
	margin:0px;
	overflow:scroll;
	margin-top:-1em;
	position: sticky;
	left:0;
}

.contact_details1{
	width:100%;
	position:relative;
	top:2.5em;
	margin: 0;
	background-color: white;
	padding-bottom: 3em;
	
	
}
	
.found{

    font-size: 16px;
    left:2%;
    top:7em;
    width:85%;
}
.contact_details2{
	display: flex;
	flex-wrap: wrap;
}  


.weball_pop_ups{
	position:fixed;
	top:20%;
	left:5%;
	width: 90%;
	height: auto;
	margin: auto;
	background-image: linear-gradient(rgb(233, 227, 227),rgb(140, 140, 236));
	z-index: 1;
	border-radius: 3px;
	border:1px solid black;
	padding:15px;
	animation: pop_up 1s;
	-webkit-animation: pop_up 1s;
}
.weball_pop_ups>h2{
	font-size:15px;
}
@keyframes pop_up {
	from {
		top:-20%;
	}
	to{
		top:20%;
	}
	
}
@-webkit-keyframes pop_up {
	from {
		top:-20%;
	}
	to{
		top:20%;
	}
	
}
                        
.cancel_btn_weball{
	position:absolute;
	top:2px;
	right:2px;
	width:0.8em;
	height:0.8em;
	padding:0px 0px 9px 0px;
	color:red;
	font-size:1.5em;
	}
	
	.cancel_btn_weball:hover{
		opacity: 0.5;
		background-color: blue;
	color:white;}
.contact_details2 em{
	text-decoration: underline;
	font-weight: bold;
	font-size:13px;
}
.phone_hide{

	display:none;
}
.contact_details2 li{
	border:0.5px solid grey;
	background-color: honeydew;
	border-radius: 3px;
	width:90%;
	margin: auto;
	margin-top:5px;
}

.contact_details2 i{
	font-size: inherit;
}
.card_info p, .card_info em, .card_info li,.card_info a{
	font-size:12px
}

.card_info{
	width:43%;
	padding:2px;
	border:0.5px dotted black;
	border-radius: 5px;
	margin: auto;
	height:11em;
	margin-bottom:10px;
	background-image:linear-gradient(white,rgba(76,140,170,0.94));
	
}  
.contact_details2 .sendmessage{
	width:90%;
	padding:2px;
	border:1px solid grey;
	border-radius: 8px;
	margin: auto;
	margin-bottom:10px;
	background-image:linear-gradient(white,rgba(76,140,170,0.94));
}

.contact_details2 li:hover{
	opacity:0.5;
}
.scroll img:hover{
	opacity: 0.5;
}
@keyframes scroll{
	from{
	
	top:2em;
	}
	to{
		top:1em;
	}
}

@-webkit-keyframes scroll{
	from{
		top:2em;
		
	}
	to{
		top:1em;
	}
} 
.task_bar h1{
	color:white;
	font-size:1.3em;
	text-shadow: 2px 1px black;
	position:absolute;
	left:10%;
}

.menu-bar{
	width:10%;
	height:1.6em;
	border-radius:3px;
	background-color:none;
	position:fixed;
	padding-left: 3px;
	padding-right: 3px;
	top:5px;
	left:1px;
	z-index:100;
}
.menu-bar .bar{
	color:white;
	margin: 3px;
	border:2px solid white;
	position:relative;
	z-index:1;
}

.menu-drop-down{
	display:none;
	padding:1px;
	width:15em;
	height:100%;
	position:fixed;
	top:-1px;
	left:-1px;
	margin-left: 0;
	margin-top: 0;
	background-image: linear-gradient(white,grey);
	animation:menu-slide 1s;
	-webkit-animation:menu-slide 1s;
	z-index:1;
	box-shadow:5px 0px 5px #cccccc;
}
.menu-drop-down .search{
	display:flex;
	flex-direction:row;
	width:100%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:12px;
	
}
.search input{
	width:60%;
}

.search select{
	width:20%;
}

.search i{
	background-color:rgb(19, 167, 167);
	color: white;
	padding:3px;
}

.search i{
	width:20%;
}
.red{
	background-color: white;
}
#red{
	padding-bottom: 0.2px;
}

.menu-drop-down hr{
	margin:10px 0px 0px 10px;
	border: 0.9px solid black;
	opacity: 0.5;
}


.menu-content  div a{
	color:Black;
	background-color: inherit;
	padding:3px;
	text-decoration:underline;
	font-weight:bold;
	font-size:15px;
}
.manu_link{
	padding-top: 10px;
	margin-left: 15px;
} 
.menu-content>div{
	width:6em;
}
.menu-content div a:hover{
	opacity:0.5;
}
.menu-drop-down p a:hover{
	opacity:0.5;
}
@keyframes menu-slide{
	from{
		left:-5em;
		opacity:0;
	}
	to{
		left:0;
		opacity:1;
	}
}

@-webkit-keyframes menu-slide{
	from{
		left:-5em;
		opacity:0;
	}
	to{
		left:0;
		opacity:1;
	}
}



.cross-bar{
	color:white;
	font-size:40px;
	display:none;
	position:relative;
	top:-10px;
	display:none;
}
.menu-cancel{
	position:absolute;
	top:0em;
	right:0;
	color:red;
	font-size:32px;
	font-weight:bold;
	display:none;
	
}

.welcome{
	height:auto;
	padding:5px;
	color:white;
	font-size:19px;
	position:absolute;
	top:-10px;
	left:10%;
	width:auto;
	font-family:MyFont1;
}


.intro_first{
	margin-right: 1em;
}


.container{
	
	width:100%;
	margin:0;
	position:fixed;
	top:0em;
	animation:weball 3s;
	-webkit-animation:weball 3s;
	
}
.webdev{
	padding:10px;
}

.services_section {
	top:8em;
	}


@keyframes intro{
	from{
		top:20em;
		
	}
	to{
		top:8em;
	}
}

@-webkit-keyframes intro{
	from{
		top:20em;
	}
	to{ 
	top:8em;
	}
}

.header{
    height:2.4em;
	opacity: 1;
	z-index: 10;
}


.services{
	width:99%;
	margin:auto;
	padding:3px;
border:0.5px dotted black;
	border-radius:10px;
	background-image:linear-gradient(white,rgba(76,140,170,0.94));
	height:36em;
	overflow:scroll;
	animation:fadeup 1s linear;
}


/*Hide scrolling bars for Chrome, safari and opera*/
.services::-webkit-scrollbar,.scroll1::-webkit-scrollbar,.first_services::-webkit-scrollbar{
	display:none;
}

/*  Scrolling bars styles */
::-webkit-scrollbar{
    width: 8px;
}
/*hide scrolling for IE, Edge and Firefox */
.services,.scroll1,.first_services{
	-ms-overflow-style:none;
	scrollbar-width:none;
}


.services-btn{
	background-color:rgb(54, 87, 87);
	margin:auto;
	font-size:1.5em;
	border-radius:6px;
	color:white;
	font-weight:bold;
	border:0.5px solid #cccccc;
	box-shadow: 1px 1px 3px rgb(51, 50, 50);
	width:55%;
}

.services-btn:hover{
	opacity:0.6;
}

.services a{
	padding:5px;
	font-size: 16px;
	font-weight: bold;
}
.services-slides{
	width:100%;
	border:0.5px solid #cccccc;
	display:flex;
	flex-wrap:wrap;
	border:1px solid #cccccc;
	background-color:rgba(250,255,255,1);
	margin:-5px 0px 2px 0px;
	padding:3px 2px 3px 2px;
	position:sticky;
	position:-webkit-sticky;
	top:-4px;
	left:-2px;
	z-index: 1;
}

.services-slides>div{
	
}

.offset{
	font-size:0.6em;
	font-weight:bold;
	margin:2px;
	opacity:0.7;
	display:none;
	color:rgba(106,117,46,0.83);
	width:20%;
	
}
.offset:hover{
	font-size:1em;
	color:rgba(0,0,255,1);
}

.webdev .btn-left{
	position:absolute;
	top:30%;
	left:-0.5%;
	color:black;
	opacity: 0.8;
	display:none;
	
}
.btn-left>i{
	font-size:3em;
	color:black;
}
.btn-left:hover{
	opacity:0.5;
}.webdev .btn-right{
	position:absolute;
	top:30%;
	right:-0.5%;
	color:black;
	opacity: 0.8;
	display: none;
	
}
.btn-right>i{
	font-size:3em;
	color:black;
}
.btn-right:hover{
	opacity:0.5;
}

@keyframes weball{
	
	from{
		
		opacity:0;
	}
	to{
		opacity:1;
	}
}

@-webkit-keyframes weball{
	
	from{
		
		opacity:0;
	}
	to{
		opacity:1;
	}
}


.container>div{
	width:95%;
	margin:auto;
	padding:5px;
}


.userscore{
	color:red;
}
.typingname{
	font-size:1.2em;
	font-weight:bold;
	padding:0px;
	width:auto;
	height:2em;
	display:flex;
	flex-direction:row;

	
}

.letter{
	display:none;
	font-family:MyFont;
	font-size:22px;
	color:white;
	text-shadow: 1px 1px 3px black;
	font-weight: bold;
	opacity: 1;
}

@keyframes letter{
	from{
	opacity:0;
	
	}
	to{
		opacity:1;
	}
}

@-webkit-keyframes letter{
	from{
		opacity:0;
		
	}
	to{
		opacity:1;
	}
} 

.typingname1{
	display:flex;
	flex-direction:row;
}

.services1 h3{
	text-align:left;
	font-family:MyFont;
	
}

.logo{
	position: absolute;
	right:1%;
	top:0;
	}
	
	.logo img{
		height:2.5em;
		width:2.5em;
		border-radius:4px;
	}
.services1 li{
	text-align:left;
	font-size:16px;
	font-weight:bold;
	color:rgba(106,117,46,0.83);
}
.text_style{
	font-size: 10px!important;
	line-height: 18px;
}

.services12{
	width:90%;
	margin:auto;
	padding: 10px;

}

.box{
	border:1px solid rgba(207, 164, 164, 0.8);
	width: auto;
	height: auto;
	padding:5px;

}
.dtp_icon img{
	width: 30px;
}
.important-info{
	font-size:11px;
		color:rgb(192, 70, 70);
}


.prices .package_header{
    font-size:16px;
}
	
.package .price{
   
    font-size:17px;
}
    
.scrolling .choose{
	margin:4px 4px 2px 4px;
	width: 15em;
	float:left;

}
.prices{
overflow:scroll;
	
}


.scrolling{
	position:relative;
	width:126em;

}

.about .triangle{
    top:2.5em;
    left:45%;
    width:3em;
    height:3em;
    z-index:1;
}

.choose p{
	font-size:14px;
}



.text-danger{
	color:red;
}
.menu-icon img{
	width:37%;
	margin: 4px;
	border-radius: 2px;
	}
	.menu-icon i{
		
		font-size: 20px;
		}
	.menu-icon img:hover{
		transform: scale(1.05);
	}
	.menu-content{
		display: flex;
		flex-direction: row;
	}


	.Projects .p_img img {
		width: 23em !important;
		height: 16em;
	}

table{
	border-collapse: collapse;
}

}