/*loading*/
.loading{
    position:absolute;
    top:50%;
    
    height:4em;
    margin:0px;
    overflow:show;
}

.letter{
    animation:letter 1s linear;
    font-family:hand_font;
    -webkit-animation:letter 1s linear;
    display:none;
    color: rgb(224, 123, 6);
}

.coding img{
    height:auto;
    opacity: 0.5;
    width:100%;
    position:absolute;
    top:-20em;
    left:0px;
}
@keyframes letter{
    from{
    opacity:0;
    transform: skewY(50deg);
    
    
    }
    to{
        opacity:1;
        transform: skewY(0deg);

    
    }
}

@-webkit-keyframes letter{
    from{
        opacity:0;
        transform: skewY(50deg);
    }
    to{
        opacity:1;
        transform: skewY(0deg);
    }
} 
.loading .loader{
    position: absolute;
    top:-2em;
    color:grey;
    font-weight: bold;
    left:0em;
    z-index:100;
    animation:loader 1s linear infinite;
}
@keyframes loader{
    from{
        opacity: 0;
        color:#ccc;
    }
    to{opacity: 1;
        color:black;}
}
.loading .left{
    height:4em;
    width:4px;
    background-color: blue;
    position:absolute;
    top:0;
    left:-4px;
    animation:left 1s linear;
    animation-delay: 1s;

}

.loading .right{
    height:4em;
    width:4px;
    background-color: rgb(255, 94, 0);
    position:absolute;
    top:0;
    right:-4px;

}

.loading .top{
    height:4px;
    width:100%;
    background-color: rgb(255, 0, 0);
    position:absolute;
    top:0;
    right:-4px;
    animation:top 1s linear;

}

.loading .bottom{
    height:4px;
    width:100%;
    background-color: rgb(255, 0, 0);
    position:absolute;
    bottom:-8px;
    right:-4px;

}
.loading .right,.loading .left,.loading .top,.loading .bottom{
    display:none;
}
.loading img{
    width:100%;
    height:auto;
    animation:loader 1s linear infinite;
}
@keyframes top{
    from{
right:-140px;
    }
    top{
        right:-4px;

    }
    
}

@keyframes left{
    from{
top:-140px;
    }
    top{
        top:0px;

    }
    
}
/*end of loading*/

.services_section {
background-color:white;
position:relative;
margin:0;
width:100%;
}

#all-content{
	
	margin:0;
	padding:0;
    background-color: transparent;
}
.header{
    position:fixed;
    margin:0;
    top:0;
    width:100%;
}
.text_style{
    margin-top: 10px;
    font-family:hand_font;
    color: rgb(224, 123, 6);
}
.get_us{
    position:fixed;
    display:flex;
    flex-direction: row;
	animation:fadeup 1s linear ;

   
}
/*  Scrolling bars styles */

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #ccc;
    border-radius:20px;

}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(rgba(146, 177, 192, 0.94),rgba(27, 92, 122, 0.94));
    border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(white,rgba(76,140,170,0.94));
}
::-webkit-scrollbar-button{
   display:none;
}
/*End of scrolling bar*/
.get_us a{
margin-left: 15px;
 color: rgb(224, 123, 6)!important;
 font-weight: bold;
 border:0.5px solid white;
padding:4px;
border-radius: 3px;
}
.button{
    color: white !important;;
    border:1px white solid;
    border-radius: 12px;
    text-decoration: none;
    background-image: linear-gradient(to right,rgb(77, 49, 49),rgba(212, 26, 26, 0.94),rgba(255, 0, 0, 0.94));
}


.button:hover{
    color:white;
    background-image: linear-gradient(to right,rgb(197, 38, 38),rgba(231, 18, 18, 0.94),red);
    border:1px white solid;
    text-decoration: underline;
    border-radius: 12px;
    opacity:1;
}
/*style for buttons inside projects*/
.Projects a,.about a{
    padding:6px;
    font-size: 20px;
    margin-top: 1em;
}

/*end of style*/

.webdev{
	width:100%;
	margin: 0;
	animation:intro 3s;
	-webkit-animation:intro 3s;
	background-color:white;
	background-image: linear-gradient(white,#cccccc);
	animation:weball 1s;
	-webkit-animation:weball 1s;
    position: relative;
}
#header{
    background-color: black;
}

.services_section h1{
	text-decoration: underline;
}

#header1{
    background-image: linear-gradient(rgb(15, 15, 15),rgb(82, 78, 78));
    opacity:0.7;
 }

/*developer login style*/
.whatsaap a i{
    color:white;
    background-color: green;
    border-radius: 50%;
    font-size: 35px;
    padding: 8px;
    width:50px;
    height: 50%;
    text-align: center;
    display: none;
    animation:fadeout 1s linear;
}
.whatsaap a{
    text-decoration: none!important;
}
.whatsaap .notification{
    background-color: red;
    border-radius:50%;
    position:absolute;
    color:white;
    font-size: 10px;
    padding:5px;
    top:0;
    right:0px;
    text-align: center;
    display:none;
    width:20px;
    height:20px;
    animation:fadeout 1s linear;
    z-index: 1;
}
.whatsaap {
    position:fixed;
    bottom:5px;
    right:3px;
    z-index: 10;
    width:auto;
    
}
.dev_login{
    background-color:rgb(17, 16, 16);
    border-radius:4px; 
    padding:6px;
    margin: 0px !important;
}
.p_img{
    display:flex;
    flex-direction: row;
}
.dev_login a:hover{
    color:#f3a007;
}
.container{	
	width:100%;
	margin:0;
	position:fixed;
	top:0em;
    padding: 0px !important;
    z-index: -1;
    animation:weball 1s linear;
    -webkit-animation:weball 1s linear;
}
.coding{
    width:100%;
    margin:0;
    padding:0;
    position: relative;
    height:18em;
}
.top_color{
    background-image: linear-gradient(rgb(48, 46, 46),rgba(0, 0, 0, 0.94));

}
@keyframes weball{
		
    from{
        left:-100em;
        opacity:0;
    }
    to{
        left:0;
        opacity:1;
    }
}

@-webkit-keyframes weball{
    
    from{
        
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.dev_login>a{
   color: rgb(255, 255, 255) ;
    font-weight: bold;
    text-decoration: none!important;
}
.linear-border{
    background-image: linear-gradient(to bottom right, rgb(194, 116, 43),rgb(175, 27, 84),rgb(241, 180, 10));
    border-radius:4px; 
}
/*End of developer login*/
/*Animations */


/*Animations for FadeUp */
.fadeup{
    animation:fadeup 1s linear ;
}
@keyframes fadeup{
    from{
      opacity: 0;
      top:-2em;
      position: relative;
    }
    to{
      opacity: 1;
      top:0em;
      position: relative;
    }
    
  }
  /*===End of animation  */

  /*Animations for Faderight */
.faderight{
    animation:faderight 1s linear ;
}
@keyframes faderight{
    from{
        position: relative;
      opacity: 0;
      left:2em;
      
    }
    to{
        position: relative;
      opacity: 1;
      left:0em;
      
    }
    
  }
  /*===End of animation faderight */
  
/*Animations for Fadeout */
.fadeout{
    animation: fadeout 1s linear;
}

@keyframes fadeout{
    from{
      opacity: 0;
      transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
  }
  
  /*===End of animation  animation:change 0.5s linear; */

  

  .about{
      width: 100%;
      height: 100%;
  }

  .contactss {
     width: 100%;
     background: linear-gradient(to bottom right ,rgb(39, 164, 223) ,rgb(124, 196, 201));
     position: absolute;
     height: 100%;

  }
  .contactss p{
      color: black;
  }


  .card{
      background-image: linear-gradient(to bottom right,rgb(5, 5, 255) ,rgb(8, 51, 92),rgb(8, 51, 92) );
      color: white !important;
      text-decoration: none;
      border:1px dotted white;
      box-shadow:1px 2px 3px black;
    

  }
  

  .card:hover{
    animation:change 0.5s linear;
    background-image: linear-gradient(to bottom right,rgb(5, 5, 255) ,rgb(8, 35, 61),rgb(1, 3, 5) );
}
@keyframes  change{
    from{
            background-image: linear-gradient(to bottom right,rgb(5, 5, 255) ,rgb(8, 51, 92),rgb(8, 51, 92) );
    }
    to{
        background-image: linear-gradient(to bottom right,rgb(5, 5, 255) ,rgb(8, 35, 61),rgb(1, 3, 5) );
    }
}
footer{
    width:100%;
    margin:0;
    background-color:rgb(9, 100, 153);
    position:relative;
}

.newsletter{
	position:absolute;
	top:-3em;
	border-radius:12px;
	height:10em;
	border:1px dotted white;
	border-radius:12px;
    overflow:hidden;
    z-index:1;
}
.found{
    color:white;
    font-family: MyFont;
    position:absolute;
    z-index: 10;
}
.footer_body{
    width:100%;
    margin:0;
    display:flex;
    flex-wrap: wrap;
    position:relative;
    top:10em;
    border: 1px;
    color:white;
}
.copy{
    color:white;
    position:relative;
    top:10em;
}
.footer_body>div{
    color:white;
    border:1px;
}

.footer_body p{
    width:100%;
    color:white;
    text-align: center;

}
.header_footer{
    width:100%;
    color:inherit;
}
.card_shadow{
    border-radius:12px;
    width:4em;
    height:5em;
    background-color:grey;
    position:absolute;
    top:-45px;
    right:28%;
    transform:rotate(26deg);
}
.card_shadow1{
    width:inherit;
    height:4em;
    position:absolute;
    top:0px;
    margin:inherit;
    background-color: inherit!important;
    z-index:1;
}
.newsletter1{
    color:rgb(243, 148, 7);
    font-weight:bold;
    margin-top:1em;
}
.newsletter p{
    color:white;
    font-size: 13px;
}

.newsletter #newsletter{
    padding:10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 3px 2px 4px black;
    margin-top: 5px;
    margin-bottom: 5px;

}
/*Starter package*/
.packages{
   display:flex;
   
   margin:auto;
}
.package{
    background-color:rgb(54, 87, 87);
    border:1px dotted white;
    color:white;
    border-radius:10px;
    overflow:hidden;
    margin: auto;
    box-shadow:2px 3px 4px black;
}
.package_body li{
     margin-top:4px;
}

.package p{
    color: white!important;
   }
.request a{
    color:white!important;
    text-decoration:none!important;
    font-size:14px;
}
.request{
    animation: fadeup 1s linear;
}
.package .fa-star{
    float:left;
}
.package .price{
    color:rgb(245, 135, 9);
    padding-top:10px;
    font-weight:bold;
}
.package_header{
    width:110%;
    margin:-3px;
    background-color:white;
    font-family:hand_font;
    color:rgb(243, 148, 7);
    padding:5px 10px 5px 10px;
}
/*End of starter package*/

/*choose us styles*/
.prices{
	width:100%;
	background-color:rgb(9, 100, 153);
	margin:0;
	position:relative;
	top:1.8em;
    padding:4em 0em 7em 0em; 
    
    
}
.about .triangle{
   
    background-color:white;
    margin:auto;
    position:absolute;
  
    transform:rotate(45deg);
}
.socials i{
    margin:2px 4px 1px 2px;
    color:rgb(243, 148, 7);
    float: left;
   
}

.choose .notes{ 
    background-color:white;
    color: #e44800;
    padding: 3px;
    font-size: 14px;
    font-family: hand_font;
    border-radius:3px;
    position:absolute;
    bottom:2px;
    left: 5px;
    z-index: 0.99;
    }
    .choose p{
        color:white;
        font-family: MyFont;
        line-height: 20px;
        font-weight: 100;
    }
     
.prices .choose{
	position:relative;
	padding-bottom:2em;
}
.like_number{
    color:red;
    margin:1px 3px 1px 3px;
}
.about{
    margin:0;
    width:100%;
    position: relative;
}
.scrolling{
    margin:0;
}
  
.logo_pic{
    position:absolute;
    z-index: 10;
    color:white;
    font-family: hand_font;
    background-image: transparent;

}
.greeting{
    display:flex;
    flex-direction: row;
    width:100%;
    margin:0;
}
.greeting .left{
    background-color:black;
    font-family: hand_font;
 color: rgb(224, 123, 6)!important;
   
    height:inherit;
    width:15%;
    margin:0;
}
.greeting .small_text{
          background-image: linear-gradient(white,rgba(76,140,170,0.94));
    margin:0;
    height:100%;
    width:85%;
    color: black;
padding:10px;

}
.border_logo{
    margin:0px;
    background-color:transparent;
}
.cursor{
    color:red;
    background-color: red!important;
    height:100%;
    font-size:inherit;
    animation: cursor 0.5s linear infinite;

}
@keyframes cursor {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#promo{
    font-family: hand_font;
    animation:letter 1s linear;
    -webkit-animation:letter 1s linear;
}